{% include 'admin_navigation.html' %}
{% load static %}
<style>
    .abc{
        height:600px;
        /* margin-top:10px; */
        background-image:url({% static 'images/k.jpeg' %});
        background-size:100% 100%;
        animation: abcd 20s infinite;
    }
    @keyframes abcd{
    20%{background-image:url({% static 'images/f.jpeg' %});}
    40%{background-image:url({% static 'images/i.jpeg' %});}
    60%{background-image:url({% static 'images/j.jpeg' %});}
    80%{background-image:url({% static 'images/e.jpeg' %});}
    100%{background-image:url({% static 'images/l.jpeg' %});}
}
</style>
<div class="container-fluid abc">
    <h1 class="text-center">&nbsp;</h1>
    <h1 class="text-center">Admin Home Page</h1>
</div>

{% include 'footer.html' %}